{% extends 'base.html' %}
{% block content %}
<section class="default-tab">
	<section class="floor-plans">
		<div class="shadow amenities">
			<h3>Apartment Amenities</h3>
			<ul>
				<li>Extra Large Units</li>
				<li>Expanded Basic Cable with HBO</li>
				<li>Full Size Washer and Dryer</li>
				<li>Ceiling Fans Throughout</li>
				<li>Individual Wooden Decks</li>
				<li>Microwaves</li>
				<li>Mini/Vertical Blinds</li>
				<li>Frost Free Refrigerators</li>
				<li>And Much More!</li>
			</ul>
			<h3>Community Amenities</h3>
			<ul>
				<li>Small Clean and Quiet Community</li>
				<li>Excellent On Site Maintenance</li>
				<li>Close To Shops and Dining</li>
				<li>Three Blocks from Campus</li>
				<li>Small Pets Welcome, No Dogs</li>
			</ul>
		</div>
		<div class="shadow plans">
			<h3>Townhomes</h3>
			<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<h3>Duplexes</h3>
			<ul>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</section>
{% endblock %}