{% extends 'base.html' %}
{% block content %}
<section class="home">
	<img class="bg" src="/images/bg1.jpg" />
	<div class="black-text-box rounded welcome ">
		<p class="statement">Windmill Townhomes and Duplexes are nestled 
		   in a peaceful area in the hills adjacent to Texas State 
		   University in beautiful San Marcos Texas. Our townhomes and 
		   duplexes are only three blocks away from the campus. We offer 
		   professional on-site management and on-site maintenance as well. 
		   We invite you to come view your new Townhome or Duplex today. 
		   You get great townhome style living at apartment prices.</p>
		<p class="info">Windmill Townhomes and Duplexes is a member of the 
		   Texas Apartment Association</p>
	</div>
</section>
{% endblock %}