{% extends 'base.html' %}
{% block content %}
<img class="bg" src="/images/bg1.jpg" />
<section class="pre-lease">
	<div class="black-text-box rounded steps">
		<p class="instructions">Follow these steps & you shouldn't have any
		   problem pre-leasing <br />at the small, clean & quiet community 
		   of Windmill Townhomes & Duplexes.</p>
        <p class="availability">For available floor plans, check out the 
           <a href="/floor-plans/">Floor Plans</a> tab.</p>
        <ol>
        	<li>Choose 3 floor plans of the 14 choices from either the 
        	    <a href="/floor-plans/">Floor Plans</a> tab or the brochures. If any 
        	    of the floor plans you have chosen are not available by the date
                requested, we will notify you at least 30 days before the expected
                move in date. Your deposit will be refunded, however your
                deposit is NOT refundable if you cancel a pre-lease.</li>
            <li>Call the office to make an appointment to meet at the office
                to view one of the floor plans. (It's very important to leave a
                detailed message on the answer machine.)</li>
            <li>While in the office, ask to fill out a Rental Application &
                pay your Application Fee & Deposit ($175.00 per-person.)</li>
            <li>Turn in your Lease Contract Guaranty Application
                (co-signer form) within 7 days of turning in your Deposit & Rental
                Application.</li>
            <li>Three days after the co-signers forms are turned in, call to
                verify if your applications are approved.</li>
            <li>If the applications are approved, call the office within 30
                days of your move-in date to receive your new address & floor
                plan style.</li>
            <li>Within 30 days of your move-in date, call the office to
                make an appointment to sign your Rental Lease. Allow at least 30
                minutes for this process.</li>
            <li>Enjoy your stay with us at Windmill Townhomes & 
                Duplexes!</li>
        </ol>
	</div>
</section>
{% endblock %}