<!DOCTYPE html>
<html>
	<head>
    	<title>Windmill Townhomes</title>
    	<link type="text/css" rel="stylesheet" href="/media/main.css" />
  	</head>
  	<body>
  		<header class="shadow">
	  		<img src="/media/logo.jpeg" />
  			<ul>
  				<li>Floor Plans</li>
  				<li>Pre-Lease</li>
  				<li>Location</li>
  				<li>Pay Rent</li>
  				<li>Maintenance</li>
  				<li>Contact</li>
  			</ul>		
  		</header>
  		<section>
  			{% block content %}
			{% endblock %}
  		</section>
  	</body>
</html>
