<!DOCTYPE html>
<html>
	<head>
    	<title>Windmill Townhomes</title>
    	<link type="text/css" rel="stylesheet" href="/media/main.css" />
  	</head>
  	<body>
  		<!-- img class="bg" src="/media/bg.jpg" / -->
  		<header><img src="/media/logo.jpeg" /></header>
  		<nav>
  			<ul>
  				<li>Floor Plans</li>
  				<li>Pre-Lease</li>
  				<li>Location</li>
  				<li>Pay Rent</li>
  				<li>Maintenance</li>
  				<li>Contact</li>
  			</ul>
  		</nav>
  		<section class="mainWrapper">
	  		<section class="main">
  				{% block content %}
				{% endblock %}
  			</section>
  		</section>
  		<footer>
  			<ul>
  				<li>Phone: 512-396-4181</li>
  				<li>Fax: 512-396-5488</li>
  			</ul>
  		</footer>
  	</body>
</html>
