{% extends 'base.html' %}
{% block content %}
<section class="home">
	<div class="slideshow">
		<img src="/media/home3.jpg" />
	</div>
<p>Windmill Townhomes and Duplexes are nestled in a peaceful area in the hills adjacent to Texas State University in beautiful San Marcos Texas. Our townhomes and duplexes are only three blocks away from the campus. We offer professional on-site management and on-site maintenance as well. We invite you to come view your new Townhome or Duplex today. You get great townhome style living at apartment prices.</p>
</section>
{% endblock %}